
@{
    ViewBag.Title = "Schedule";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <meta name="description" content="Index Page" />
    <meta name="keywords" content="Index Keyword" />
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
    <style>
        #Schedule {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #Schedule td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #Schedule tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #Schedule tr:hover {
                background-color: #ddd;
            }

            #Schedule th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
</head>
<body>
    @Html.Partial("_TopMenu")

    <table id="Schedule">
        <tr>
            <th>Month</th>
            <th>Series Name</th>
            <th>Date</th>
        </tr>
        <tr>
            <td> January 2018 </td>
            <td> India tour of South Africa, 2017-18</td>
            <td>Jan 05 - Feb 24 </td></td>
        </tr>
        <tr>
            <td>February 2018</td>
            <td>England, Australia, New Zealand T20I Tri-Series, 2018
            <td>Feb 03 - Feb 21</td>
        </tr>
        <tr>
            <td>February 2018</td>
            <td>Australia tour of South Africa, 2018</td>
            <td> Feb 22 - Apr 03></td>
        </tr>
        <tr>
            <td>February 2018</td>
            <td>England tour of New Zealand, 2018</td>
            <td>Feb 25 - Apr 03</td>

        </tr>
        <tr>
            <td>March 2018</td>
            <td>ICC World Cup Qualifiers, 2018</td>
            <td>Mar 04 - Mar 25</td>
        </tr>
        <tr>
            <td>March 2018</td>
            <td>India and Bangladesh in Sri Lanka T20I Tri-Series, 2018</td>
            <td> Mar 06 - Mar 18</td>
        </tr>
        <tr>
            <td>March 2018</td>
            <td>Windies tour of Pakistan, 2018</td>
            <td> Mar 29 - Apr 01</td>
        </tr>
        <tr>
            <td> May 2018</td>
            <td> Pakistan tour of Ireland, 2018</td>
            <td> May 11 - May 15</td>
        </tr>
        <tr>
            <td> May 2018</td>
            <td>Pakistan tour of England, 2018</td>
            <td>May 24 - Jun 05</td>
        </tr>
        <tr>
            <td>May 2018</td>
            <td>Sri Lanka tour of West Indies, 2018</td>
            <td>May 30 - Jun 27</td>
        </tr>
    </table>

</body>
</html>
 

