<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">

        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="~/Content/Images/CPL.jpeg" alt="image 1" />
            </div>
        </div>

        <div id="templatemo_banner_content">
            <div class="header_01">Innovation the mantra for CPL's success </div>
            <p>No matter the time of the year, it seems there is always a T20 tournament taking place. Right now, it is Australia's Big Bash. <div class="button_01"><a href="http://www.cricbuzz.com/cricket-news/99805/caribbean-premier-cricket-league-innovation-key-for-cpls-success-odonohue">Read more</a></div>
        </div>

        <div class="cleaner"></div>
    </div>
</div>
