<div id="templatemo_footer_wrapper">

    <div id="templatemo_footer">

        <div class="section_w180">
            <div class="header_05">MOBILE SITE AND APPS</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">m.cricbuzz.com</a></li>
                    <li><a href="#"></a>Android</li>
                    <li><a href="#"></a>iOS</li>
                    <li><a href="#"></a>Windows Mobile</li>
                    <li><a href="#"></a>Blackberry</li>
                    <li><a href="#"></a>Chrome Extension</li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">FOLLOW US ON</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">linkedin</a></li>
                    <li><a href="#">youtube</a></li>
                    <li><a href="#">google+</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Company</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cricbuzz TV ads</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Contact</div>

            <div class="section_w180_content">

                <ul class="footer_menu_list">
                    <li><a href="#">Phone No</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Address</a></li>
                </ul>
            </div>
        </div>
        <div class="margin_bottom_20"></div>
        Copyright © 2048 <a href="#">Cricbuzz</a>, <a href="http://www.iwebsitetemplate.com" target="_parent">Times Internet Limited</a> All Rights Reserved <a href="http://www.templatemo.com" target="_parent"> | The Times of India | Navbharat Times</a>
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    <!--  Free CSS Templates by TemplateMo.com  -->
</div>
