<div id="column_w300">

    <div class="header_03">Latest News</div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="Content/Images/Bairstone.jpeg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">MARCH 02, 2018</div>
            <div class="header_04"><a href="http://www.cricbuzz.com/cricket-news/100683/jonny-bairstow-calls-for-preservation-of-test-cricket-england-cricket-team-tour-of-new-zealand-2018">Bairstone</a></div>
            <p>Bairstow calls for preservation of Test cricket <br />48m ago</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01 even_color">
        <div class="news_image_wrapper">
            <img src="Content/Images/Klinger.jpeg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">MARCH 02, 2018</div>
            <div class="header_04"><a href="http://www.cricbuzz.com/cricket-news/100681/michael-klinger-retirement-australia-first-class-cricket-news">Klinger</a></div>
            <p>Klinger calls time on first-class career <br /> 2h ago</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="~/Content/Images/Guptill.jpeg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">MARCH 01, 2018</div>
            <div class="header_04"><a href="http://www.cricbuzz.com/cricket-news/100677/martin-guptill-lendl-simmons-biggest-picks-in-cpl-2018-draft">Guptill, Simmons</a></div>
            <p>Guptill, Simmons biggest picks in CPL 2018 draft <br /> 14h ago</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>
</div>
