 <!-- Top Menu Start -->

<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="logo">
            <img src="Content/Images/cbz-logo.png" />
            <div id="templatemo_menu">
                <div id="templatemo_menu_left"></div>
                <ul>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Statistics">Statistics</a></li>
                    <li><a href="~/Home/Schedule">Schedule</a></li>
                    <li><a href="~/Home/Teams">Teams</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Top Menu-->

